.body
{
    background:#FFFFFC; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F2F2F2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0D6EFD;
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #F2F2F2;
}

.active {
  background-color: #7FB800;
}


    
.table {
         
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            
            border: 2px solid #7FB800;
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #7FB800;
        }
    

.naslov {
background-color: #63C132;
  height: 200px;
    
}



.slika{
    background: #CFFCFF;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}







h3{
   font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    color: #5E574D;
     
}

h2{
   font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color: #5E574D;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.povezave{
    background-color:#7FB800;
    padding-top: 1%;
    padding-bottom: 2%;
   
}


p2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    
}

p3{
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-left: 20%;
    color: #3C91E6;
    -webkit-text-stroke: 1px black;
    
}
.tabela{
    background: #DDCECD; 
    padding-left: 22%;   
     margin-top: 1%;
}

.noga{
  background: #7D6D61;   

}
p5{
  font-family: Arial, sans-serif;
    font-size: 20px;
    margin-left: 80%;
    
}

h6{
   font-family: "Lucida Console", "Courier New", monospace;
    font-size: 60px;
    color: #5E574D;  
   
}

.LJ
{
   float: left;
margin-left: 3%;
margin-right: auto;    
}


.mape
{
 
    display: flex;
    padding-bottom: auto;
}

.Bronxmapa
{
   float: left;
margin-left: 5%;
margin-right: auto;    
}

.Dunaj
{
   float: left;
margin-left: auto;
margin-right: auto;    
}

.ZG
{
   float: left;
margin-left: auto;
margin-right: auto;    
}

.Avstralija
{
   float: left;
margin-left: auto;
margin-right: auto;    
}

.seznam{
 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
   background-color: snow; 
}

.Bronxmapa:hover {
  border: 6px solid #FFB400;
}
.Ljubljanamapa:hover {
  border: 6px solid #FFB400;
}


a{
  text-decoration: none;  
    
}

.lev
{    
background: #DDCECD;   
margin-left: 14px;
margin-right: 14px;   
display: flex;  
float: left;   
border: 1px solid #5E574D;    
}  

.lev:hover {
  border: 6px solid #9FD356;
}


<!--FOOTER-->

footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

footer hr {
    border-top-color: #7FB800;
    opacity: 0.5
}

footer hr.small {
    margin: 20px 0
}

footer h6 {
    color: #7FB800;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

footer a {
    color: #737373;
}

footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

footer p {
    color: #737373;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

footer .social-icons {
    text-align: right
}

footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    footer {
        padding-bottom: 0
    }

    footer .copyright-text,
    footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}










